:root {
  --cor-fundo: rgb(255, 255, 255);
  --cor-fundo-bloco: #b3b45b;
  --cor-texto: rgb(0, 0, 0);
  --cor-text-destaque: rgb(255, 255, 255);
  --cor-titulo: white;
  --cor-fundo-link: rgb(158, 158, 74);
  --cor-fundo-link-b: rgb(185, 185, 5);
  --cor-fundo-hover: aqua;
  --cor-borda: rgb(184, 184, 46);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;


  font-family: "Sixtyfour Convergence", sans-serif;
  font-optical-sizing: auto;
  font-size: 100%;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0,
    "XELA" 0,
    "YELA" 0;
}

body {
  color: var(--cor-texto);
  background-color: var(--cor-fundo);
  display: flex;

}

  .content {
    margin: 20px;
  }

    .sobremim {
      padding: 5%;
      background-color: var(--cor-fundo-bloco);
    }

      .sobremim_conteudo{
        
      }

        .s-link-buntao {
          background-color: var(--cor-fundo-link-b);
          gap: 20px;
          margin: 15px;
          padding: 5px;
        }

        .sobremim h1 {
          color: var(--cor-text-destaque);
          padding: 5px 0px;
        }

        .sobremim h2 {
          padding: 10px 0px;
        }

        .sobremim p {
          padding: 10px 0px;
        }

        .foto {
          width: 15%;
        }

.projetos {
  margin: 2%;
  padding: 5%;
  background-color: var(--cor-fundo-bloco);
}

    .p-link-buntao {
      background-color: var(--cor-fundo-link-b);
      gap: 15px;
      justify-content: center;
    }

    .projeto1 {
      margin: 5px;
      padding: 8%;
      background-color: var(--cor-fundo-link);
      padding: 1%;
      border-radius: 5px;
    }

        .projeto1 h2 {
          padding: 5px 15px;
          align-items: start;
        }

        .projeto1 p {
          margin: 15px 15px;
        }


    .projeto2 {
      margin: 5px;
      padding: 15px;
      background-color: var(--cor-fundo-link);
      padding: 1%;
      border-radius: 5px;
    }

        .projeto2 h2 {
          padding: 5px 15px;
          align-items: start;
        }

        .projeto2 p {
          margin: 5px;
        }

    .projeto3 {
      margin: 5px;
      padding: 15px;
      background-color: var(--cor-fundo-link);
      padding: 1%;
      border-radius: 5px;
    }

        .projeto3 h2 {
          padding: 5px 15px;
          align-items: start;
        }

        .Projeto3 p {
          margin: 5px;
        }

    .projeto4 {
      margin: 5px;
      padding: 15px;
      background-color: var(--cor-fundo-link);
      padding: 1%;
      border-radius: 5px;
    }

        .projeto4 h2 {
          padding: 5px 15px;
          align-items: start;
        }

        .projeto4 p {
          margin: 5px;
        }

@media (max-width: 1000px) {
    
}