:root {
  --cor-fundo: black;
  --cor-texto: rgb(255, 255, 255);
  --cor-text-destaque: rgb(199, 199, 0);
  --cor-titulo: white;
  --cor-fundo-blocos: rgb(228, 228, 117);
  --cor-fundo-segundary: rgb(158, 158, 82);
  --borda: yellow;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;


  font-family: "Sixtyfour Convergence", sans-serif;
  font-optical-sizing: auto;
  font-size: 100%;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0,
    "XELA" 0,
    "YELA" 0;
}

body {
  color: var(--cor-texto);
  background-color: var(--cor-fundo);
  display: flex;
  display: inline;
}

.content {
  margin: 30px;
}

.SobreMim {
  margin: 20px;
  width: 100%;
}

.SobreMim h1 {
  color: var(--cor-text-destaque);
  padding: 5px 0px;
}

.SobreMim h2 {
  padding: 10px 0px;
}

.SobreMim p {
  padding: 10px 0px;
}

.Projetos {
  padding: ;
  gap: 15px;
}

.Projetos a {
  border: 15px;
  border-radius: 10px;
  background-color: var(--borda);
  gap: 15px;
}

.Projeto1 {
  margin: 5px;
  padding: 15px;
  background-color: blue;
  
}

.Projeto1 h2 {
  padding: 5px 0px;
  align-items: start;
}

.Projeto1 p {
  margin: 10px 0px;
}


.Projeto2 {
  margin: 5px;
  padding: 15px;
  background-color: blue;
}

.Projeto2 h2 {
  padding: 5px 0px;
  align-items: start;
}

.Projeto2 p {
  margin: 5px;
}

.Projeto3 {
  margin: 5px;
  padding: 15px;
  background-color: blue;
}

.Projeto3 h2 {
  padding: 5px 0px;
  align-items: start;
}

.Projeto3 p {
  margin: 5px;
}

.Projeto4 {
  margin: 5px;
  padding: 15px;
  background-color: blue;
}

.Projeto4 h2 {
  padding: 5px 0px;
  align-items: start;
}

.Projeto4 p {
  margin: 5px;
}